NET "CLKIN" LOC = "AD15";
NET "CLKIN" TNM_NET = "CLKIN" ;
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN" 20.0 ns HIGH 50 %;

NET "LEDOUT<7>" LOC = "G4"  ;
NET "LEDOUT<6>" LOC = "G3"  ;
NET "LEDOUT<5>" LOC = "J5"  ;
NET "LEDOUT<4>" LOC = "H5"  ;
NET "LEDOUT<3>" LOC = "J3"  ;
NET "LEDOUT<2>" LOC = "J4"  ;
NET "LEDOUT<1>" LOC = "H3"  ;
NET "LEDOUT<0>" LOC = "K1"  ;
