


## SSRAM
NET "SRAMAA<19>"  LOC = "G19" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<18>"  LOC = "F20" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<17>"  LOC = "H10" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<16>"  LOC = "B16" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<15>"  LOC = "A16" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<14>"  LOC = "B15" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<13>"  LOC = "A14" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<12>"  LOC = "B9"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<11>"  LOC = "B8"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<10>"  LOC = "D21" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<9>"   LOC = "F22" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<8>"   LOC = "F21" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<7>"   LOC = "D10" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<6>"   LOC = "D9"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<5>"   LOC = "A4"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<4>"   LOC = "A5"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<3>"   LOC = "B6"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<2>"   LOC = "A6"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<1>"   LOC = "B7"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMAA<0>"   LOC = "A7"  | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMADVLDA"  LOC = "D17" | IOSTANDARD = LVCMOS25;
NET "SRAMRWA"     LOC = "G15" | IOSTANDARD = LVCMOS25 | TNM = "SRAM";
NET "SRAMCEA"     LOC = "F16" | IOSTANDARD = LVCMOS25;
NET "SRAMBWA<3>"  LOC = "D25" | IOSTANDARD = LVCMOS25;
NET "SRAMBWA<2>"  LOC = "F24" | IOSTANDARD = LVCMOS25;
NET "SRAMBWA<1>"  LOC = "H12" | IOSTANDARD = LVCMOS25;
NET "SRAMBWA<0>"  LOC = "D14" | IOSTANDARD = LVCMOS25;
NET "SRAMCELA1X"  LOC = "F11" | IOSTANDARD = LVCMOS25;
NET "SRAMCEHA1X"  LOC = "E24" | IOSTANDARD = LVCMOS25;
NET "SRAMCEA2X"   LOC = "D15" | IOSTANDARD = LVCMOS25;
NET "SRAMCEA2"    LOC = "E11" | IOSTANDARD = LVCMOS25;
NET "SRAMCLKMA0"  LOC = "C8"  | IOSTANDARD = LVCMOS25 | SLEW = "FAST";
NET "SRAMCLKMA1"  LOC = "B20" | IOSTANDARD = LVCMOS25 | SLEW = "FAST";
NET "SRAMIOA<31>" LOC = "A27" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<30>" LOC = "B25" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<29>" LOC = "A25" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<28>" LOC = "B24" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<27>" LOC = "A24" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<26>" LOC = "B23" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<25>" LOC = "B22" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<24>" LOC = "A22" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<23>" LOC = "C24" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<22>" LOC = "E23" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<21>" LOC = "C23" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<20>" LOC = "D22" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<19>" LOC = "E22" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<18>" LOC = "F23" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<17>" LOC = "G22" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<16>" LOC = "H21" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<15>" LOC = "G9"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<14>" LOC = "E7"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<13>" LOC = "C6"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<12>" LOC = "F8"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<11>" LOC = "F9"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<10>" LOC = "C7"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<9>"  LOC = "E8"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<8>"  LOC = "E9"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<7>"  LOC = "F10" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<6>"  LOC = "G10" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<5>"  LOC = "F17" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<4>"  LOC = "H20" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<3>"  LOC = "H11" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<2>"  LOC = "H15" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<1>"  LOC = "G20" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOA<0>"  LOC = "G21" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOPA<3>" LOC = "B27" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOPA<2>" LOC = "D24" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOPA<1>" LOC = "F7"  | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMIOPA<0>" LOC = "E10" | IOSTANDARD = LVCMOS25 | NODELAY | TNM = "SRAM";
NET "SRAMLBOA"    LOC = "B4"  | IOSTANDARD = LVCMOS25;
NET "SRAMXOEA"    LOC = "D16" | IOSTANDARD = LVCMOS25;
NET "SRAMZZA"     LOC = "G11" | IOSTANDARD = LVCMOS25;
