NET "CLKIN" LOC = "AD15" | PERIOD = 20 ns;

NET "LED2H<0>" LOC = "AK5" | IOSTANDARD = LVTTL;
NET "LED2H<1>" LOC = "AK4" | IOSTANDARD = LVTTL;
NET "LED2H<2>" LOC = "AJ6" | IOSTANDARD = LVTTL;
NET "LED2H<3>" LOC = "AH8" | IOSTANDARD = LVTTL;
NET "LED2H<4>" LOC = "AD9" | IOSTANDARD = LVTTL;
NET "LED2H<5>" LOC = "AE9" | IOSTANDARD = LVTTL;
NET "LED2H<6>" LOC = "AG9" | IOSTANDARD = LVTTL;
NET "LED2H<7>" LOC = "AH9" | IOSTANDARD = LVTTL;

NET "LED2L<0>" LOC = "AK6" | IOSTANDARD = LVTTL;
NET "LED2L<1>" LOC = "AF10" | IOSTANDARD = LVTTL;
NET "LED2L<2>" LOC = "AJ7" | IOSTANDARD = LVTTL;
NET "LED2L<3>" LOC = "AE11" | IOSTANDARD = LVTTL;
NET "LED2L<4>" LOC = "AE10" | IOSTANDARD = LVTTL;
NET "LED2L<5>" LOC = "AD11" | IOSTANDARD = LVTTL;
NET "LED2L<6>" LOC = "AD10" | IOSTANDARD = LVTTL;
NET "LED2L<7>" LOC = "AG16" | IOSTANDARD = LVTTL;

