CONFIG PART=5VLX50TFF1136-1;

NET  U_D<0> 	   LOC=F6 | IOSTANDARD = LVTTL;
NET  U_D<1> 	   LOC=L5 | IOSTANDARD = LVTTL;
NET  U_D<2> 	   LOC=R8 | IOSTANDARD = LVTTL;
NET  U_D<3> 	   LOC=J6 | IOSTANDARD = LVTTL;
NET  U_D<4> 	   LOC=K6 | IOSTANDARD = LVTTL;
NET  U_D<5> 	   LOC=J7 | IOSTANDARD = LVTTL;
NET  U_D<6> 	   LOC=L6 | IOSTANDARD = LVTTL;
NET  U_D<7> 	   LOC=K7 | IOSTANDARD = LVTTL;
NET  U_D<8> 	   LOC=J9 | IOSTANDARD = LVTTL;
NET  U_D<9> 	   LOC=H10 | IOSTANDARD = LVTTL;
NET  U_D<10>	   LOC=H9 | IOSTANDARD = LVTTL;
NET  U_D<11>	   LOC=E11 | IOSTANDARD = LVTTL;
NET  U_D<12>	   LOC=D12 | IOSTANDARD = LVTTL;
NET  U_D<13>	   LOC=G12 | IOSTANDARD = LVTTL;
NET  U_D<14>	   LOC=C12 | IOSTANDARD = LVTTL;
NET  U_D<15>	   LOC=E12 | IOSTANDARD = LVTTL;

NET  U_A<0> 	   LOC=R9 | IOSTANDARD = LVTTL;
NET  U_A<1> 	   LOC=M7 | IOSTANDARD = LVTTL;
NET  U_A<2> 	   LOC=N7 | IOSTANDARD = LVTTL;
NET  U_A<3> 	   LOC=F8 | IOSTANDARD = LVTTL;
NET  U_A<4> 	   LOC=E8 | IOSTANDARD = LVTTL;
NET  U_A<5> 	   LOC=H8 | IOSTANDARD = LVTTL;
NET  U_A<6> 	   LOC=G8 | IOSTANDARD = LVTTL;
NET  U_A<7> 	   LOC=T10 | IOSTANDARD = LVTTL;
NET  U_A<8> 	   LOC=T11 | IOSTANDARD = LVTTL;
NET  U_A<9> 	   LOC=M8 | IOSTANDARD = LVTTL;
NET  U_A<10>	   LOC=N8 | IOSTANDARD = LVTTL;
NET  U_A<11>	   LOC=F9 | IOSTANDARD = LVTTL;

NET XU_CE		   LOC=H7 | IOSTANDARD = LVTTL;
NET XU_RD		   LOC=P9 | IOSTANDARD = LVTTL;
NET XU_WE		   LOC=E7 | IOSTANDARD = LVTTL;

NET XU_RYBY 	   LOC=B13 | IOSTANDARD = LVTTL;
