NET "OUTDATA0<0>" LOC = "AG15" | IOSTANDARD = LVTTL;
NET "OUTDATA0<1>" LOC = "AD20" | IOSTANDARD = LVTTL;
NET "OUTDATA0<4>" LOC = "AD9" | IOSTANDARD = LVTTL;
NET "OUTDATA0<6>" LOC = "AH8" | IOSTANDARD = LVTTL;
NET "OUTDATA0<5>" LOC = "AE9" | IOSTANDARD = LVTTL;
NET "OUTDATA0<2>" LOC = "AK15" | IOSTANDARD = LVTTL;
NET "OUTDATA0<3>" LOC = "AK4" | IOSTANDARD = LVTTL;
NET "OUTDATA0<7>" LOC = "AG9" | IOSTANDARD = LVTTL;

NET "OUTDATA1<0>" LOC = "AC15" | IOSTANDARD = LVTTL;
NET "OUTDATA1<1>" LOC = "AK9" | IOSTANDARD = LVTTL;
NET "OUTDATA1<4>" LOC = "AF22" | IOSTANDARD = LVTTL;
NET "OUTDATA1<6>" LOC = "AD8" | IOSTANDARD = LVTTL;
NET "OUTDATA1<5>" LOC = "AG8" | IOSTANDARD = LVTTL;
NET "OUTDATA1<2>" LOC = "AJ15" | IOSTANDARD = LVTTL;
NET "OUTDATA1<3>" LOC = "AE19" | IOSTANDARD = LVTTL;
NET "OUTDATA1<7>" LOC = "AH2" | IOSTANDARD = LVTTL;

NET "OUTDATA2<0>" LOC = "AC17" | IOSTANDARD = LVTTL;
NET "OUTDATA2<1>" LOC = "AJ9" | IOSTANDARD = LVTTL;
NET "OUTDATA2<4>" LOC = "AC21" | IOSTANDARD = LVTTL;
NET "OUTDATA2<6>" LOC = "AC20" | IOSTANDARD = LVTTL;
NET "OUTDATA2<5>" LOC = "AK27" | IOSTANDARD = LVTTL;
NET "OUTDATA2<2>" LOC = "AG14" | IOSTANDARD = LVTTL;
NET "OUTDATA2<3>" LOC = "AH17" | IOSTANDARD = LVTTL;
NET "OUTDATA2<7>" LOC = "AH24" | IOSTANDARD = LVTTL;

NET "OUTDATA3<0>" LOC = "AG17" | IOSTANDARD = LVTTL;
NET "OUTDATA3<1>" LOC = "AE12" | IOSTANDARD = LVTTL;
NET "OUTDATA3<4>" LOC = "AK14" | IOSTANDARD = LVTTL;
NET "OUTDATA3<6>" LOC = "AJ17" | IOSTANDARD = LVTTL;
NET "OUTDATA3<5>" LOC = "AK18" | IOSTANDARD = LVTTL;
NET "OUTDATA3<2>" LOC = "AC14" | IOSTANDARD = LVTTL;
NET "OUTDATA3<3>" LOC = "AJ8" | IOSTANDARD = LVTTL;
NET "OUTDATA3<7>" LOC = "AH16" | IOSTANDARD = LVTTL;

NET "OUTDATA4<0>" LOC = "AK7" | IOSTANDARD = LVTTL;
NET "OUTDATA4<1>" LOC = "AF11" | IOSTANDARD = LVTTL;
NET "OUTDATA4<4>" LOC = "AJ14" | IOSTANDARD = LVTTL;
NET "OUTDATA4<6>" LOC = "AH15" | IOSTANDARD = LVTTL;
NET "OUTDATA4<5>" LOC = "AE16" | IOSTANDARD = LVTTL;
NET "OUTDATA4<2>" LOC = "AC16" | IOSTANDARD = LVTTL;
NET "OUTDATA4<3>" LOC = "AH14" | IOSTANDARD = LVTTL;
NET "OUTDATA4<7>" LOC = "AD16" | IOSTANDARD = LVTTL;

NET "OUTDATA5<0>" LOC = "AJ7" | IOSTANDARD = LVTTL;
NET "OUTDATA5<1>" LOC = "AD11" | IOSTANDARD = LVTTL;
NET "OUTDATA5<4>" LOC = "AC9" | IOSTANDARD = LVTTL;
NET "OUTDATA5<6>" LOC = "AE15" | IOSTANDARD = LVTTL;
NET "OUTDATA5<5>" LOC = "AC11" | IOSTANDARD = LVTTL;
NET "OUTDATA5<2>" LOC = "AG16" | IOSTANDARD = LVTTL;
NET "OUTDATA5<3>" LOC = "AE11" | IOSTANDARD = LVTTL;
NET "OUTDATA5<7>" LOC = "AG10" | IOSTANDARD = LVTTL;

NET "OUTDATA6<0>" LOC = "AF10" | IOSTANDARD = LVTTL;
NET "OUTDATA6<1>" LOC = "AD10" | IOSTANDARD = LVTTL;
NET "OUTDATA6<4>" LOC = "AJ4" | IOSTANDARD = LVTTL;
NET "OUTDATA6<6>" LOC = "AJ1" | IOSTANDARD = LVTTL;
NET "OUTDATA6<5>" LOC = "AC10" | IOSTANDARD = LVTTL;
NET "OUTDATA6<2>" LOC = "AK6" | IOSTANDARD = LVTTL;
NET "OUTDATA6<3>" LOC = "AH1" | IOSTANDARD = LVTTL;
NET "OUTDATA6<7>" LOC = "AF8" | IOSTANDARD = LVTTL;

NET "OUTDATA7<0>" LOC = "AH9" | IOSTANDARD = LVTTL;
NET "OUTDATA7<1>" LOC = "AK5" | IOSTANDARD = LVTTL;
NET "OUTDATA7<4>" LOC = "AH7" | IOSTANDARD = LVTTL;
NET "OUTDATA7<6>" LOC = "AD6" | IOSTANDARD = LVTTL;
NET "OUTDATA7<5>" LOC = "AB7" | IOSTANDARD = LVTTL;
NET "OUTDATA7<2>" LOC = "AJ6" | IOSTANDARD = LVTTL;
NET "OUTDATA7<3>" LOC = "AE10" | IOSTANDARD = LVTTL;
NET "OUTDATA7<7>" LOC = "Y8" | IOSTANDARD = LVTTL;

