

#///////////////////////////////////////
#// Clock connection.
#///////////////////////////////////////

#// = Inputs. =
#NET  CLK_48M	LOC=H17 | IOSTANDARD = LVTTL; # CLK48M
NET  CLK_66M	LOC=J16 | IOSTANDARD = LVTTL; # MCLK1
NET  CLK_RST	LOC=H18 | IOSTANDARD = LVTTL; # XRST
NET "CLK_66M"	TNM_NET = "SYS_CLK_66M";
TIMESPEC "TS_SYS_CLK_66M" = PERIOD "SYS_CLK_66M" 14.9 ns HIGH 50 %;

#NET "u_mig/u_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK";
#NET "clk66"	TNM_NET = "SYS_CLK66";
#TIMESPEC "TS_SYS_CLK66" = PERIOD "SYS_CLK66" 14.52 ns HIGH 50 %;



#NET "clk133"	TNM_NET = "SYS_CLK133";
#TIMESPEC "TS_SYS_CLK133" = PERIOD "SYS_CLK133" 9.2 ns HIGH 50 %;

#NET "clk150"	TNM_NET = "SYS_CLK150";
#TIMESPEC "TS_SYS_CLK150" = PERIOD "SYS_CLK150" 7.0 ns HIGH 50 %;

NET "OUTDATA0<0>" LOC = "L34" | IOSTANDARD = LVTTL; # P<65>
NET "OUTDATA0<1>" LOC = "L33" | IOSTANDARD = LVTTL; # P<66>
NET "OUTDATA0<4>" LOC = "R31" | IOSTANDARD = LVTTL; # P<96>
NET "OUTDATA0<6>" LOC = "R27" | IOSTANDARD = LVTTL; # P<95>
NET "OUTDATA0<5>" LOC = "R32" | IOSTANDARD = LVTTL; # P<93>
NET "OUTDATA0<2>" LOC = "M30" | IOSTANDARD = LVTTL; # P<64>
NET "OUTDATA0<3>" LOC = "R28" | IOSTANDARD = LVTTL; # P<94>
NET "OUTDATA0<7>" LOC = "R33" | IOSTANDARD = LVTTL; # P<92>

NET "OUTDATA1<0>" LOC = "M27" | IOSTANDARD = LVTTL; # P<68>
NET "OUTDATA1<1>" LOC = "N32" | IOSTANDARD = LVTTL; # P<70>
NET "OUTDATA1<4>" LOC = "T33" | IOSTANDARD = LVTTL; # P<100>
NET "OUTDATA1<6>" LOC = "N25" | IOSTANDARD = LVTTL; # P<99>
NET "OUTDATA1<5>" LOC = "P24" | IOSTANDARD = LVTTL; # P<98>
NET "OUTDATA1<2>" LOC = "M28" | IOSTANDARD = LVTTL; # P<67>
NET "OUTDATA1<3>" LOC = "M31" | IOSTANDARD = LVTTL; # P<69>
NET "OUTDATA1<7>" LOC = "P25" | IOSTANDARD = LVTTL; # P<97>

NET "OUTDATA2<0>" LOC = "M32" | IOSTANDARD = LVTTL; # P<72>
NET "OUTDATA2<1>" LOC = "N30" | IOSTANDARD = LVTTL; # P<73>
NET "OUTDATA2<4>" LOC = "T29" | IOSTANDARD = LVTTL; # P<105>
NET "OUTDATA2<6>" LOC = "T30" | IOSTANDARD = LVTTL; # P<104>
NET "OUTDATA2<5>" LOC = "R34" | IOSTANDARD = LVTTL; # P<102>
NET "OUTDATA2<2>" LOC = "M33" | IOSTANDARD = LVTTL; # P<71>
NET "OUTDATA2<3>" LOC = "T26" | IOSTANDARD = LVTTL; # P<103>
NET "OUTDATA2<7>" LOC = "T31" | IOSTANDARD = LVTTL; # P<101>

NET "OUTDATA3<0>" LOC = "N33" | IOSTANDARD = LVTTL; # P<75>
NET "OUTDATA3<1>" LOC = "N28" | IOSTANDARD = LVTTL; # P<77>
NET "OUTDATA3<4>" LOC = "U32" | IOSTANDARD = LVTTL; # P<109>
NET "OUTDATA3<6>" LOC = "T28" | IOSTANDARD = LVTTL; # P<108>
NET "OUTDATA3<5>" LOC = "R24" | IOSTANDARD = LVTTL; # P<107>
NET "OUTDATA3<2>" LOC = "N29" | IOSTANDARD = LVTTL; # P<74>
NET "OUTDATA3<3>" LOC = "L30" | IOSTANDARD = LVTTL; # P<76>
NET "OUTDATA3<7>" LOC = "R26" | IOSTANDARD = LVTTL; # P<106>

NET "OUTDATA4<0>" LOC = "P31" | IOSTANDARD = LVTTL; # P<79>
NET "OUTDATA4<1>" LOC = "N34" | IOSTANDARD = LVTTL; # P<80>
NET "OUTDATA4<4>" LOC = "U33" | IOSTANDARD = LVTTL; # P<114>
NET "OUTDATA4<6>" LOC = "U30" | IOSTANDARD = LVTTL; # P<113>
NET "OUTDATA4<5>" LOC = "T24" | IOSTANDARD = LVTTL; # P<111>
NET "OUTDATA4<2>" LOC = "N27" | IOSTANDARD = LVTTL; # P<78>
NET "OUTDATA4<3>" LOC = "U31" | IOSTANDARD = LVTTL; # P<112>
NET "OUTDATA4<7>" LOC = "T34" | IOSTANDARD = LVTTL; # P<110>

NET "OUTDATA5<0>" LOC = "P30" | IOSTANDARD = LVTTL; # P<82>
NET "OUTDATA5<1>" LOC = "P32" | IOSTANDARD = LVTTL; # P<84>
NET "OUTDATA5<4>" LOC = "K34" | IOSTANDARD = LVTTL; # P<118>
NET "OUTDATA5<6>" LOC = "U27" | IOSTANDARD = LVTTL; # P<117>
NET "OUTDATA5<5>" LOC = "U28" | IOSTANDARD = LVTTL; # P<116>
NET "OUTDATA5<2>" LOC = "L31" | IOSTANDARD = LVTTL; # P<81>
NET "OUTDATA5<3>" LOC = "P29" | IOSTANDARD = LVTTL; # P<83>
NET "OUTDATA5<7>" LOC = "T25" | IOSTANDARD = LVTTL; # P<115>

NET "OUTDATA6<0>" LOC = "P27" | IOSTANDARD = LVTTL; # P<86>
NET "OUTDATA6<1>" LOC = "P26" | IOSTANDARD = LVTTL; # P<87>
NET "OUTDATA6<4>" LOC = "J34" | IOSTANDARD = LVTTL; # P<123>
NET "OUTDATA6<6>" LOC = "K33" | IOSTANDARD = LVTTL; # P<122>
NET "OUTDATA6<5>" LOC = "U25" | IOSTANDARD = LVTTL; # P<120>
NET "OUTDATA6<2>" LOC = "M25" | IOSTANDARD = LVTTL; # P<85>
NET "OUTDATA6<3>" LOC = "H33" | IOSTANDARD = LVTTL; # P<121>
NET "OUTDATA6<7>" LOC = "U26" | IOSTANDARD = LVTTL; # P<119>

NET "OUTDATA7<0>" LOC = "N24" | IOSTANDARD = LVTTL; # P<89>
NET "OUTDATA7<1>" LOC = "R29" | IOSTANDARD = LVTTL; # P<91>
NET "OUTDATA7<4>" LOC = "C34" | IOSTANDARD = LVTTL; # P<1>
NET "OUTDATA7<6>" LOC = "K32" | IOSTANDARD = LVTTL; # P<126>
NET "OUTDATA7<5>" LOC = "H34" | IOSTANDARD = LVTTL; # P<125>
NET "OUTDATA7<2>" LOC = "P34" | IOSTANDARD = LVTTL; # P<88>
NET "OUTDATA7<3>" LOC = "M26" | IOSTANDARD = LVTTL; # P<90>
NET "OUTDATA7<7>" LOC = "E34" | IOSTANDARD = LVTTL; # P<124>


#////////////////////////////////////////
#// ZBT-RAM connection.
#////////////////////////////////////////
#// = Bus. =
NET  ZD<0>		   LOC=AJ30 | IOSTANDARD = LVTTL;
NET  ZD<1>		   LOC=AH29 | IOSTANDARD = LVTTL;
NET  ZD<2>		   LOC=AH30 | IOSTANDARD = LVTTL;
NET  ZD<3>		   LOC=AG30 | IOSTANDARD = LVTTL;
NET  ZD<4>		   LOC=AF29 | IOSTANDARD = LVTTL;
NET  ZD<5>		   LOC=AF30 | IOSTANDARD = LVTTL;
NET  ZD<6>		   LOC=AE29 | IOSTANDARD = LVTTL;
NET  ZD<7>		   LOC=AD29 | IOSTANDARD = LVTTL;
NET  ZD<8>		   LOC=V28  | IOSTANDARD = LVTTL;
NET  ZD<9>		   LOC=W27  | IOSTANDARD = LVTTL;
NET  ZD<10> 	   LOC=Y29  | IOSTANDARD = LVTTL;
NET  ZD<11> 	   LOC=Y28  | IOSTANDARD = LVTTL;
NET  ZD<12> 	   LOC=AA30 | IOSTANDARD = LVTTL;
NET  ZD<13> 	   LOC=AA29 | IOSTANDARD = LVTTL;
NET  ZD<14> 	   LOC=AB30 | IOSTANDARD = LVTTL;
NET  ZD<15> 	   LOC=AC30 | IOSTANDARD = LVTTL;
NET  ZD<16> 	   LOC=AP32 | IOSTANDARD = LVTTL;
NET  ZD<17> 	   LOC=AN32 | IOSTANDARD = LVTTL;
NET  ZD<18> 	   LOC=AM32 | IOSTANDARD = LVTTL;
NET  ZD<19> 	   LOC=AK31 | IOSTANDARD = LVTTL;
NET  ZD<20> 	   LOC=AK32 | IOSTANDARD = LVTTL;
NET  ZD<21> 	   LOC=AJ31 | IOSTANDARD = LVTTL;
NET  ZD<22> 	   LOC=AJ32 | IOSTANDARD = LVTTL;
NET  ZD<23> 	   LOC=AH32 | IOSTANDARD = LVTTL;
NET  ZD<24> 	   LOC=V30  | IOSTANDARD = LVTTL;
NET  ZD<25> 	   LOC=V29  | IOSTANDARD = LVTTL;
NET  ZD<26> 	   LOC=W30  | IOSTANDARD = LVTTL;
NET  ZD<27> 	   LOC=W29  | IOSTANDARD = LVTTL;
NET  ZD<28> 	   LOC=AD31 | IOSTANDARD = LVTTL;
NET  ZD<29> 	   LOC=AE32 | IOSTANDARD = LVTTL;
NET  ZD<30> 	   LOC=AE31 | IOSTANDARD = LVTTL;
NET  ZD<31> 	   LOC=AF31 | IOSTANDARD = LVTTL;

NET  ZDP<0> 	   LOC=AD30 | IOSTANDARD = LVTTL;
NET  ZDP<1> 	   LOC=AC29 | IOSTANDARD = LVTTL;
NET  ZDP<2> 	   LOC=AG31 | IOSTANDARD = LVTTL;
NET  ZDP<3> 	   LOC=AG32 | IOSTANDARD = LVTTL;

#// = Outputs. =
NET  ZA<0>		   LOC=AJ34 | IOSTANDARD = LVTTL;
NET  ZA<1>		   LOC=AD32 | IOSTANDARD = LVTTL;
NET  ZA<2>		   LOC=AC32 | IOSTANDARD = LVTTL;
NET  ZA<3>		   LOC=AB31 | IOSTANDARD = LVTTL;
NET  ZA<4>		   LOC=AB32 | IOSTANDARD = LVTTL;
NET  ZA<5>		   LOC=AH33 | IOSTANDARD = LVTTL;
NET  ZA<6>		   LOC=V34  | IOSTANDARD = LVTTL;
NET  ZA<7>		   LOC=V33  | IOSTANDARD = LVTTL;
NET  ZA<8>		   LOC=AF33 | IOSTANDARD = LVTTL;
NET  ZA<9>		   LOC=AG33 | IOSTANDARD = LVTTL;
NET  ZA<10> 	   LOC=V32  | IOSTANDARD = LVTTL;
NET  ZA<11> 	   LOC=AK34 | IOSTANDARD = LVTTL;
NET  ZA<12> 	   LOC=AK33 | IOSTANDARD = LVTTL;
NET  ZA<13> 	   LOC=AL34 | IOSTANDARD = LVTTL;
NET  ZA<14> 	   LOC=AL33 | IOSTANDARD = LVTTL;
NET  ZA<15> 	   LOC=AM33 | IOSTANDARD = LVTTL;
NET  ZA<16> 	   LOC=AN34 | IOSTANDARD = LVTTL;
NET  ZA<17> 	   LOC=AN33 | IOSTANDARD = LVTTL;
NET  ZA<18> 	   LOC=AF34 | IOSTANDARD = LVTTL;
NET  ZA<19> 	   LOC=AE33 | IOSTANDARD = LVTTL;

NET XE1 		   LOC=W34  | IOSTANDARD = LVTTL;
NET  E2A		   LOC=Y34  | IOSTANDARD = LVTTL;
NET XE3 		   LOC=AA33 | IOSTANDARD = LVTTL;
NET XZBE<0> 	   LOC=W31  | IOSTANDARD = LVTTL;
NET XZBE<1> 	   LOC=W32  | IOSTANDARD = LVTTL;
NET XZBE<2> 	   LOC=AA34 | IOSTANDARD = LVTTL;
NET XZBE<3> 	   LOC=Y33  | IOSTANDARD = LVTTL;
NET XGA 		   LOC=AD34 | IOSTANDARD = LVTTL;
NET XWA 		   LOC=AC34 | IOSTANDARD = LVTTL;
NET XZCKE		   LOC=AC33 | IOSTANDARD = LVTTL;
NET  ZCLKMA<0>	   LOC=Y32  | IOSTANDARD = LVTTL;
NET  ZCLKMA<1>	   LOC=AB33 | IOSTANDARD = LVTTL;

NET  ADVA		   LOC=AE34 | IOSTANDARD = LVTTL;
NET XFT 		   LOC=Y31  | IOSTANDARD = LVTTL;
NET XLBO		   LOC=AH34 | IOSTANDARD = LVTTL;
NET  ZZA		   LOC=AA31 | IOSTANDARD = LVTTL;


NET RS_TX			LOC=K11 | IOSTANDARD = LVTTL;
NET RS_RX			LOC=J11 | IOSTANDARD = LVTTL;
